@custom-media --singleColumnWidth (max-width: 1190px);

.achievements {
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-rows: 1fr auto;
  min-height: 100%;

  @media (--singleColumnWidth), (--mediaMobileLS) {
    overflow-x: hidden;
  }
}

.content {
  padding-top: var(--space4XL);
  width: 100%;
}

.header {
  padding-top: var(--spaceS);
  padding-bottom: var(--space2XL);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  @media (--singleColumnWidth) {
    padding-top: calc(var(--spaceM) - var(--spaceXS));
    padding-bottom: 0;
  }
}

.heading {
  white-space: nowrap;
  overflow: hidden;
}

.list {
  display: grid;
  gap: 7.5rem;
  width: 100%;
  padding-bottom: var(--space4XL);
}
